{
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "arrowParens": "always",
    "endOfLine": "auto",
    "bracketSpacing": true,
    "jsxSingleQuote": true
}
